@import url(https://fonts.googleapis.com/css?family=Roboto:500&subset=latin,cyrillic-ext,cyrillic);
@font-face {
	font-family: Roboto-Light;
	src:url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto-Medium;
	src:url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src:url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Bernier-Regular;
	src:url(../fonts/bernier/BERNIERRegular-Regular.otf);
}