.header_blog {
	background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 294px;
  position: relative;
  padding: 28px 30px;
}

.header_blog:before {
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 left: 0;
 bottom: 0;
 border-bottom: 102px solid #FFF; 
 border-right: 50vw solid transparent; 
}

.header_blog:after {
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 right: 0;
 bottom: 0;
 border-bottom: 102px solid #FFF; 
 border-left: 50vw solid transparent; 
}

.top_informer {
	height: 36px;
}

.top_social_contact img {
 padding: 2px 12px;
 opacity: .5;
}

.top_social_contact img:hover {
opacity: 1;
}

.top_menu {
	float: right;
}

.top_social_contact {
	float: left;
}

.page_informer {
	position: relative;
	height: 310px;
	width: 386px;
	margin: auto;
}

.page_informer .my_picture {
	position: absolute;
	top: -16px;
	left: 72px;
}
.name_page_bg {
  //position: relative;
	height: 332px;
	width: 286px;
	background-image: url(../img/icons/blog_header.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  opacity: 0.07;
  margin: auto;
}

.name_page {
	position: absolute;
	text-align: center;
	bottom: 24px;
	left: 38px;
}

.name_page h1 {
	margin: 0;
	color: rgb(255, 255, 255);
}

.name_page h1 {
	font-family: 'Bernier-Regular';
	font-size: 63px;
	line-height: 0.889;
	letter-spacing: 2px;
}
.name_page h1:before {
	position: absolute;
	content: '\2014';
	left: 2px;
	color: rgba(255, 255, 255, .2);
	font-size: 40px;
	line-height: 55px;
}

.name_page h1:after {
	position: absolute;
	content: '\2014';
	right: 6px;
	color: rgba(255, 255, 255, .2);
	font-size: 40px;
	line-height: 55px;
}

.name_page p {
	font-size: 16px;
  font-family: 'Roboto-Regular';
  line-height: 1.5;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.header_about {
	background-image: url(../img/bg_onmain.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 785px;
  position: relative;
  padding: 28px 30px;
}


.impression {
	height: 30vh;
	width: 80vw;
	background-image: url(../img/icons/portfolio_header.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  opacity: 0.07;
  margin: auto;
  position: absolute;
  left: 50%;
  margin-left: -40vw;
}

.my_name_aw {
  position: absolute;
	text-align: center;
	bottom: 24px;
	left: 38px;
}

.my_name_aw h1 {
	margin: 0;
  font-size: 35px;
  font-family: 'Roboto-Medium';
  color: rgb(255, 255, 255);
  text-align: center;
}

.header_pruning {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/icons/bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}
