/*@media screen and (min-width: 1600px) {
.header_blog:before {
 border-bottom: 102px solid #FFF; 
 border-right: 800px solid transparent; 
}
.header_blog:after {
border-bottom: 102px solid #FFF; 
border-left: 800px solid transparent; 
}
}*/