.left_sidebar {
	width: 30%;
	min-height: 100%;
	float: left;
	margin-right: 30px;
}

.sidibar_menu ul {
	list-style-type: none;
}

.sidibar_menu li {
float: right;
}

.sidibar_menu a {
	text-decoration: none;
}

.maincontent {
 width: 60%;
 float: left;
 margin: auto;
}

.blog_artical {
	width: 300px;
	margin: auto;
	float: none;
}