.myskils {
 min-width: 100px;
}

h1, h2.heading {
	font-size: 35px;
  font-family: 'Bernier-Regular';
  color: rgb(69, 90, 100);
  line-height: 41px;
  text-align: center;
  width: 420px;
  height: 190px;
  margin: auto;
}

h1.heading {
  font-size: 63px;
}
.heading_bg {
	background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.heading_bg:before {
	position: absolute;
	content: '\2014';
	left: 50%;
  color: rgba(55, 62, 66, 0.2);
  font-size: 40px;
  line-height: 55px;
  margin-left: -210px;
}

.heading_bg:after {
	position: absolute;
	content: '\2014';
	right: 50%;
	color: rgba(55, 62, 66, .2);
	font-size: 40px;
	line-height: 55px;
	margin-right: -210px;
}