doctype html
html
  include ../common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

  .page
   header.header_about
    .top_informer
     .top_menu
      img(src="assets/img/icons/hamburger.svg", alt="")
     .top_social_contact
      a(href="#")
       img(src="assets/img/icons/vk.svg", alt="")
      a(href="#")
       img(src="assets/img/icons/github.svg", alt="")
      a(href="#")
       img(src="assets/img/icons/in.svg", alt="")
    .name_page_bg.impression
    .page_informer
     .my_picture 
       img(src="/assets/img/my_picture.jpg", alt="Моё фото")
     .my_name_aw
        h1 Николай Семенов
        p Личный сайт веб разработчика
    .header_pruning
   .body_app.clearfix
    section.about
     .aboutme
     .myskils
       h2.heading Чем я могу быть вам полезен sssssssssss
    section.my_location
   .emty
   include ../common/_footer