doctype html
html
  include ../common/_head
  include ../common/_mixsin
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

  .page
   header.header_about
    .top_informer
     .top_menu
      img(src="assets/img/icons/hamburger.svg", alt="")
     .top_social_contact
      a(href="#")
       img(src="assets/img/icons/vk.svg", alt="")
      a(href="#")
       img(src="assets/img/icons/github.svg", alt="")
      a(href="#")
       img(src="assets/img/icons/in.svg", alt="")
    .name_page_bg.impression
    .page_informer
     .my_picture 
       img(src="/assets/img/my_picture.jpg", alt="Моё фото")
     .my_name_aw
        h1 Николай Семенов
        p Личный сайт веб разработчика
    .header_pruning
   section.my_works 
   h1.heading My Works
   Личный сайт веб разработчикаЛичный сайт веб разработчикаЛичный сайт веб разработчикаЛичный сайт веб разработчикаЛичный сайт веб разработчикаЛичный сайт веб разработчикаЛичный сайт веб разработчикаЛичный сайт веб разработчика
   section.talk_about_me 
    .filling
     .heading_bg
      h1.heading what they say about me
   include ../common/_footer