doctype html
html
  include ../common/_head
  include ../common/_mixsin
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

  .page
    header.header_blog.about_and_works
     .top_informer
      .top_menu
       +icon('hamburger', '#')
      +icon_set("top_social_contact",[{name:"vk", url:"https://vk.com/id40828570"}, {name:"github", url: "https://github.com/SemenovN"}, {name:"in", url:"https://www.linkedin.com/home?trk=nav_responsive_tab_home"}])
     .name_page_bg.impression
     .page_informer
      .my_picture 
        img(src="/assets/img/my_picture.jpg", alt="Моё фото")
       .my_name_aw
         h1 Nikolai Semenov
         p Own site of webdeveloper 
      .bottom_arrow
        +icon('arrow_down', '#')
    section.my_works
     .heading
      .heading_bg.warks_bg
      .item_heading
        h1 My Works
    section.talk_aboutme 
     .heading
      .heading_bg.talk_bg
      .item_heading
        h1 Talking about me
     .talk_aboutme_wrap
     .talk_aboutme_bg fff
      img(src="/assets/img/bg.jpg", alt="" class="aboutme_bg")
      .form_panel
        .form_bg
          .form_bler_bg

    include ../common/_footer